*{
  font-family: 'Rubik', sans-serif;
  margin-left:32px;

}
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:0 120px;
}

 .header-left>h1{
    font-family: Rubik;
    font-weight: 500px;
    color: #7562E0;
    font-size:24px;

  }
.header-right>a
 {
color: black;
text-decoration: none;
margin-left:32px;
}
.heading {
color: #120644;
font-size:80px;
text-align: left;
}
img {
position:absolute;
width: 500px;
height: 400px;
left: 469px;
top: 91px;
}

.button {
  background-color: #7562E0;
  color: #FFFFFF;
  padding: 16px 48px;
  text-decoration: none;
  display: inline-block;
  
}



.circle
{
  position:absolute;
  left:900px;
  top: 300px;
  width: 300px;
  height: 300px;
  border-top-left-radius: 100%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #7562E0;
}

.socialmedia{
position:absolute;
  left:900px;
  bottom:300px;
  width: 300px;
  height: 300px;

}

